<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## **My final project**

Hey everyone! Welcome to my final project. It's been really interesting learning how to transform the massive amounts of data that are all around us. The thing that fascinated me the most was the wide range of software and communities surrounding this topic. Have a great day!

## **Programming Languages for Data Science**
Some of the popular languages that Data Scientists use are:
* **Python**
* **R**
* **SQL**
* **Julia**

## **Libraries for Data Science**

* **Python:**
    * NumPy
    * pandas
    * Matplotlib
    * Scikit-learn
    * TensorFlow
    * Keras

* **R:**
    * tidyverse
    * caret
    * data.table

## **Data Science Tools** 

|**Tool**|
--------
|Jupyter Notebook|
|RStudio|
|VS Code|
|Tableau|
|Power BI|

## **Arithmetic Examples** 
**Python:**

* Addition

In [2]:
sum = 5 + 3
print(sum)

8

* Subtraction

In [6]:
difference = 10 - 4
print(difference)

6

* Multiplication

In [4]:
product = 7 * 2
print(product)

14

* Division

In [13]:
quotient = 20 / 5
print(quotient) # result is float

4.0

## **Code cell to multiply and add numbers**

In [12]:
# Define Variabiles

a = 5
b = 3

# Calculate the result

result = (a * b) + 10
print("The result is:", result)

The result is: 25

## **Code cell to convert minutes to hours**

In [16]:
# Define the number of minutes

minutes = 150

# Convert minutes to hours (1 hour = 60 minutes)

hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours") # i use f-string to make the outputs more informative

150 minutes is equal to 2.5 hours

# **Project Objectives**

* Provide an overview of the main tools and languages used in data science. 
* Illustrate practical examples of data analysis using Python.
* Demonstrate my understanding of the fundamental concepts of data science.

# **Author**
Andres Felipe Gaeta